<div class="container">
<div class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">myApp</a>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active">
      <a routerLink="/home">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/posts">Post</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/signupform">signupform</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/courses">courses</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/favorite">favorite</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/contactform">Contact-Form</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/template">my-template</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/panel">panel</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/followers">GitHub-Followers</a>
    </li>
  </ul>
</div>
</div>
