

<div class="panel panel-default">
    <div class="panel-heading">
      <ng-content select=".header"></ng-content>
    </div>
    <div class="panel-body">
      <ng-content select=".body"></ng-content>
    </div>
</div>

<div class="header">this is the header</div>
  <div class="body">
    <h3>This is the content</h3>
    <p>Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <p>{{ body | resume:7 }}</p>
